@media (max-width: 767px) {}

@media (min-width: 0px) and (max-width: 767px) {
    .navbar-expand-md .navbar-nav .nav-link {

        padding-left: 0;
    }
    .redes-nav {
        text-align: center;
        position: initial;
        right: inherit;
        display: flex;
        justify-content: center;
    }
    .menu-flex {
        display: block;
    
    }
    .navbar-nav .flex-custom{
        flex-direction: column;
    }
    .brand-xs {
        display: block;
    }
    .elipse img {

        width: 80%!important;
        margin-left: 5rem!important;
        margin-top: 5rem!important;
    }
    .brand-xs {
        display: block !important;
        padding: 12px;
        margin-right: 15%;
    }

    .brand-xs img {
        width: 150px;
    }

    .brand {
        display: none;
    }

    .m-155 {
        margin: 0;
    }

    .flex-content {

        flex-direction: column;
    }

    .ml-5,
    .mx-5 {
        margin-left: 0rem !important;
    }

    .navbar-expand-md .navbar-nav .nav-link {

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mr-5,
    .mx-5 {
        margin-right: 0rem !important;
    }

    [class^="flaticon-"]:before,
    [class*=" flaticon-"]:before,
    [class^="flaticon-"]:after,
    [class*=" flaticon-"]:after {

        margin-left: 0;
    }

    .main-banner_text ul {

        flex-direction: column;
    }

    .main-banner_text li {
        margin-bottom: 10px;
    }

    .main_pagos ul {

        flex-direction: column;
        padding: 0;
    }
    .logoxs{
        display: flex!important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .down-md {
        display: none;
    }

    .down-md-v {
        display: block;
    }
}

@media (min-width: 1440px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {
    .offcanvas-collapse {
		position: fixed;
		top: 82px;
		bottom: 0;
		left: 100%;
		width: 100%;
		padding-right: 0rem;
		padding-left: 0rem;
		overflow-y: auto;
		visibility: hidden;
		background-color: #fff;
		transition-timing-function: ease-in-out;
		transition-duration: 0.3s;
		transition-property: left, visibility;
    }
    .brand-xs {
        display: block !important;
        padding: 12px;
        margin-right: 15%;
    }

    .brand-xs img {
        width: 150px;
    }

    .brand {
        display: none;
    }

    .m-155 {
        margin: 0;
    }

    .flex-content {

        flex-direction: column;
    }

    .ml-5,
    .mx-5 {
        margin-left: 0rem !important;
    }

    .navbar-expand-md .navbar-nav .nav-link {

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mr-5,
    .mx-5 {
        margin-right: 0rem !important;
    }

    [class^="flaticon-"]:before,
    [class*=" flaticon-"]:before,
    [class^="flaticon-"]:after,
    [class*=" flaticon-"]:after {

        margin-left: 0;
    }

 
    .main-banner_text li {
        margin-bottom: 10px;
    }

    .main_pagos ul {

        flex-direction: column;
        padding: 0;
    }
}

@media (min-width: 2560px) and (max-width: 2560px) {
    .main-banner .slick-slide img {
        display: block;
        width: 1000px;
        height: 900px;
        object-fit: cover;
        box-shadow: 0px 0px 11px #00000026;
        border-radius: 10px;
    }
}
